.formulario {
    border: 2px solid #ddd; /* Establece un borde de 2 píxeles de ancho y color gris claro */
    padding: 20px; /* Añade espacio interno alrededor del formulario */
    width: 300px; /* Puedes ajustar el ancho según tus necesidades */
    margin: auto; /* Centra el formulario en la página */
  }